#!/bin/bash

# prepare
rm -rf ${tempchroot}
apt-get -y install debootstrap
mkdir ${tempchroot}
# populate chroot
debootstrap --arch=${architecture} --exclude=${exclude} --variant=${variant} ${version} ${tempchroot} http://deb.debian.org/debian/
# clean up space
chroot ${tempchroot} apt-get -y clean
chroot ${tempchroot} rm -rf /var/lib/apt/lists
# create tarred file
tar -C ${tempchroot} -cf ${tempfile} .

